@charset "utf-8";
/* CSS Document */

.odb-bold {
	font-weight: 900;
}
.odb-normal {
	font-weight: normal;
}
.odb-italic {
	font-style: italic;
}
.odb-blue {
	color: #00F;
}
.odb-wp-table {
	font-weight: bold;
	color: #00F;
}
.odb-padding-left {
	padding-left: 8px;
}
.odb-border-bottom {
	border-bottom: solid 1px #999;
}
.odb-border-top {
	border-top: solid 1px #999;
}
.odb-separator {
	width: 100px;
	height: 1px;
	border-bottom: solid 1px #999;
	margin-top: 16px;
	margin-bottom: 14px;
	margin-left: 10px;
}
.odb-underline-red {
	text-decoration: underline;
	color: #F00;
}
.odb-updated {
	position: relative;
	left: -15px;
}
.odb-found {
	font-weight: bold;
	color: #633;
}
.odb-not-found {
	font-weight: bold;
	color: #21759B;
}
